@inherits LayoutComponentBase

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">BlogApp</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/posts">Posts</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/profile">Profile</NavLink>
            </li>
        </ul>
    </nav>

    <div class="main">
        @Body
    </div>
</div>
    